<html>
  <head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <img src="https://www.tfinderr.in/images/98-989256_inspired-women-lead-women-empowerment-clipart-png-download.png" width="50" height="50">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">ABOUTUS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">LOGIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="register/">REGISTRATION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact">CONTACTUS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="profile/">PROFILE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">LOGOUT</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>
</body>
</html>
<router-outlet></router-outlet>